<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: rgb(169, 169, 241);
            margin-left: 90px;
            margin-top: 200px;
        }
        p{
            font-size: 20px;
        }
        img{
            position:absolute;
            height:500px;
            width:500px;
            left:800px;
            top:120px;
        }
    </style>
</head>
<body>
    <h1><u>Login Successfull</u></h1>
    <h2>Task 1: Completed</h2>
    <p>Website is in devlopment stage</p>
    <br>
    <br>
    <h2>Please visits us again in future</h2>
    <img src="/backimg.jpg">
</body>
</html>